.produtoInfo{
    background-color: var(--cne2);
    font-size: 18pt;
    padding: 10px;
}
.produtoInfo .pIsubCont{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:flex-start;
    margin-left: 15px;
    margin-right: 15px;
}
.produtoInfo .pI_discr, .produtoInfo .pI_form{
    width: 100%;
    padding: 10px;

}


.produtoInfo .pI_form div{
    margin-bottom: 20px;
    font-weight: 600;
}
.produtoInfo .pI_form select,.produtoInfo .pI_form input {
    width: 40%;
    margin-left: auto;
}
.produtoInfo #produtoInfoZoon{
    display: block;
    overflow: hidden;
    border: 3px solid var(--cne1);
    position: relative;
    max-height: 500px;
    height: 70vw;
}
@media  (max-width: 768px) {
    .produtoInfo #produtoInfoZoon{
        height: 70vw;
    }
    .produtoInfo .pI_discr{
        margin-right: 15px;
        margin-top: 7px;
    }
}
.produtoInfo #produtoInfoZoon img{
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) ;
    z-index: 2000;
    pointer-events: none;
}
.produtoInfo .pI_discr{
    text-align: start;
    align-items: flex-start;
    justify-content:flex-start;
    background-color: #eee;
}

.produtoInfo .pI_form button{
    margin-top: 10px;
    margin-bottom: 10px;
}