.vitrineProdutos001{
    background-color: var(--cne2);
    overflow-x: hidden;
    flex-wrap: wrap;
    overflow-y: visible;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.vP001_trilha{
    display: flex;
    flex-direction: row;
    background-color: var(--cne2);
    overflow-x: hidden;
    flex-wrap: wrap;
    overflow-y: hidden;
    align-items: center;
    justify-content: center;
    min-height: 420px;
    width: 100%;
}
.vP001_produto{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 370px;
    width: 200px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    background-color: var(--cne1);;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}
.vP001_produto:hover{
    transform: scale(1.1);
    border: solid var(--cor2);
 }
.vP001_produto h3{
   color: var(--cne5);
   
}
.vP001_produto img{
    max-height: 120px;
    width: 112px;
    margin-top: 10px;
    border-radius: 7px;
}
.vP001_produto .destaque{
    margin-left: 0.2em;
    margin-right: 0.2em;
}
.vP001_produto .produto_valor{
    margin-top: auto;
    font-size: 16pt;
    color: var(--cor2);
}
.vP001_produto .unidade_valor{
    color: var(--cne5);
    margin-top: 2px;
    font-size: 10pt;
}
.vP001_produto .vP001_estrela{
    color: var(--cor2);
}
.vP001_produto .vP001_estrela_inativ{
    color: var(--cne3);
}
.vP001_produto button{
    border-radius: 25px;
}